__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.vscode/
.idea/

# Generated intermediate files (recreated by notebooks)
data/slc26.clustalo.*
data/slc26.mafft.*
data/subfamilies/
*.iqtree
*.log
*.bionj
*.mldist
*.ckp.gz
*.model.gz
*.splits.nex
*.contree
*.ufboot
taxdump.tar.gz

# Solutions (keep locally, don't distribute)
*_solutions.ipynb
